.todo-list-app-container {
  border: solid 2px rgb(255, 255, 255);
  height: 100%;
  display: flex;
}

.main-container {
  border: solid 2px rgb(253, 219, 0);
  width: 60%;
  display: flex;
  flex-direction: column;
}

.main-tools-container {
  border: solid 2px rgb(0, 202, 253);
}

.todo-list-container {
  border: solid 2px rgb(34, 253, 0);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.todo-list-card {
  background-color: #fdaea9;
  border-radius: 25px;
  height: 100px;
}

.side-container {
  border: solid 2px rgb(253, 0, 0);
  width: 40%;
  display: flex;
  flex-direction: column;
}

.side-tools-container {
  border: solid 2px rgb(228, 0, 253);
}

.todo-list-details-container {
  border: solid 2px rgb(253, 148, 0);
}
