.todo-list-app-container {
  height: 100%;
  display: flex;
}

.main-container {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.main-tools-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.todo-list-container {
  overflow-y: auto;
}

.side-container {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.side-tools-container {
  margin-bottom: 25px;
  display: flex;
  justify-content: flex-end;
}

.todo-list-details-container {
  height: 100%;
}

.todo-list-details {
  background-color: #f0ca86;
  height: 100%;
  border-radius: 25px;
  margin-left: 25px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.details-container {
  flex-grow: 1;
}

.save-button-container {
  display: flex;
  justify-content: flex-end;
}
