.todo-card {
  background-color: #fdaea9;
  border-radius: 25px;
  height: 100px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  padding: 20px;
  cursor: pointer;
}

.check {
  background-color: white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 20px;
}

.check:hover {
  background-color: rgb(236, 236, 236);
}

.check-icon {
  width: 25px;
  height: 25px;
  color: green;
}

.description {
  font-size: 20pt;
  flex-grow: 1;
}

.remove {
  font-size: 25pt;
  color: #e34e4e;
  background-color: white;
  border-radius: 50%;
}

.remove:hover {
  color: #e36e6e;
}
