.todo-card {
  border: solid 2px rgb(76, 76, 76);
  border-radius: 25px;
  height: 100px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  padding: 20px;
  cursor: pointer;
}

.todo-card:hover {
  border: solid 2px rgb(255, 255, 255);
}

.todo-card.pending {
  background-color: #aed6f1;
}

.todo-card.pending:hover {
  background-color: #83bade;
}

.todo-card.delayed {
  background-color: #fdaea9;
}

.todo-card.delayed:hover {
  background-color: #eb7e77;
}

.todo-card.urgent {
  background-color: #f0ca86;
}

.todo-card.urgent:hover {
  background-color: #e3b461;
}

.todo-card.completed {
  background-color: #9fe2bf;
}

.todo-card.completed:hover {
  background-color: #6ad29c;
}

.check {
  background-color: white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 20px;
  font-size: 25px;
  color: green;
}

.check:hover {
  background-color: rgb(215, 215, 215);
}

.description {
  font-size: 20pt;
  flex-grow: 1;
}

.remove {
  font-size: 25px;
  color: #e34e4e;
  background-color: white;
  border-radius: 50%;
}

.remove:hover {
  color: #e36e6e;
}
